.text-center {
	text-align: center;
}

#lift-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-group {
	margin: 8px 0;
}

.lift-container {
	display: flex;
	height: 75px;
	width: 75px;
	gap: 0.75px;
	justify-content: space-between;
	border: 1px solid #12a6ab;
	background-color: #0a5b5e;
	@media screen and (max-width: 800px) {
		width: 60px;
	}
	@media screen and (max-width: 700px) {
		width: 50px;
	}
	@media screen and (max-width: 500px) {
		width: 35px;
	}
	@media screen and (max-width: 400px) {
		width: 30px;
	}
}

.lift-part {
	width: 100%;
	height: 100%;
	background-color: #12d2d9;
	overflow: hidden;
	transition: all 2s linear;
}

.lift-container.open .lift-part {
	width: 0%;
}

.floor-details {
	display: flex;
	align-items: center;
}

.lift-group {
	display: flex;
	gap: 15px;
}
.floor-container {
	align-items: center;
	padding: 0 8px;
	display: flex;
	height: 75px;
	border: 1px solid brown;
}

.direction-button-group {
	margin-inline: 10px 50px;
	gap: 10px;
	display: flex;
}

.back-button {
	display: none;
	margin-bottom: 20px;
}

.down-button {
	transform: rotateZ(-180deg);
}
